{% extends 'core/base.html' %}

{% block contenido %}

 <h1>Entrega</h1>
 <button><a href="{% url 'profesor_list' %}">Ver Profesores</a></button>
 <button><a href="{% url 'profesor_create' %}">Crear Profesores</a></button><br>
 <button><a href="{% url 'estudiante_list' %}">Ver Estudiantes</a></button>
 <button><a href="{% url 'estudiante_create' %}">Crear Estudiantes</a></button><br>
 <button><a href="{% url 'curso_list' %}">Ver Cursos</a></button>
 <button><a href="{% url 'curso_create' %}">Crear Curso</a></button>

{% endblock contenido %}